body {
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
 
}


html {

    background-attachment: fixed;
	background-image: url(rosebg.jpeg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
 
}




/** {*/
/*  margin:0; padding:0;*/
/*}*/



/*.cell {*/
/*	display: table-cell;*/
/*	vertical-align: middle;*/
/*	text-align: center;*/
/*}*/

/*.cell canvas {*/
/*	vertical-align: middle;*/
/*}*/



/*#main { */
/*    margin-top: 220;*/
/*    margin-left: 300px;*/
/*    margin:0 auto;*/
/*  width:600px;*/
 
/*}*/




#maincanvas {
    position: absolute; 
    margin:0 auto;
    margin-top: 100px;
    margin-left: 600px;
    cursor: url(soap.png) 53 53, not-allowed;
   border: 19px dotted #c905c6;
  border-image-source: url(pinksparkle.gif);
  border-image-slice: 19;
  border-image-width: 19px;
  border-image-inset: 19px;
  width: 538px;
  height: 438px;
}

#maincanvas:hover {
     width: 560px;
     height: 460px;
    z-index: 99900;
     -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}


#secondcanvas {
    /*z-index: 200;*/
     position: absolute;
     margin:0 auto;
     margin-top: 200px;
     margin-left: 100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(purpleframe.png);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
     width: 438px;
     height: 338px;
}

#secondcanvas:hover {
    margin-left: 150px;
    width: 455px;
     height: 355px;
    z-index: 99900;
     -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
    
}

#thirdcanvas {
    /*z-index: 200;*/
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 600px;
     margin-left: 200px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(sparkleframe.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
}

#thirdcanvas:hover {
    margin-top: 500px;
    width: 560px;
     height: 560px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#fourthcanvas {
    /*z-index: 200;*/
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 390px;
     margin-left: 1100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(goldsparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
}

#fourthcanvas:hover {
    margin-left: 950px;
     width: 500px;
     height: 330px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#fifthcanvas {
     z-index: -1;
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 20px;
     margin-left: 1100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(bluesparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;

}

#fifthcanvas:hover {
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#sixthcanvas {
     z-index: 5;
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 650px;
     margin-left: 750px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(greensparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     width: 270px;
     height: 400px;
     

}

#sixthcanvas:hover {
    margin-top: 500px;
    width: 370px;
    height: 500px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}


a {
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	background: -webkit-linear-gradient(top, #fc0071, lightpink);
	background: linear-gradient(top, #fc0071, lightpink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
}

a.in_text {

	color: #f900b7;
    text-decoration: none;
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}

a.in_text:hover {
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
  	
  	
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {

    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
 /* 	background: -webkit-linear-gradient(top, #fc0071, hotpink);*/
	/*background: linear-gradient(top, #fc0071, hotpink);*/
    
}

.info_content {
    /*border: 1px solid black;*/
    text-align: left center;
    padding-top: 1px;
    padding-left: 100px;
    margin-top: 160px;
    right: 20px;
	bottom:30px;
    overflow: hidden;
    height: 100px;
    display: none;
    line-height: 98%;
    font-family: sans-serif;
    font-size: 95%;
    color: #fffa00;
    width:200px;
    height: 100px;
    text-shadow:  0px 3px 3px, black;
   /*opacity:0.5;*/
  -webkit-filter: drop-shadow(0px 2px 2px black);
    transform: scaleY(3.3) scaleX(1.1) rotate(-4deg);
    -ms-transform: scaleY(3.3) scaleX(1.1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(3.3) scaleX(1.1)  rotate(-4deg); /* Chrome, Safari, Opera */
    letter-spacing: 1.5px;        
}

#info:hover .info_content {
	display:block;
	

}

.play {
    z-index: 9800000;
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("playnow.png");
	background-repeat: no-repeat;
    background-size: 150px;

    
}

.play:hover {
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
  	z-index: 9800000;
}

#contents {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 100%;
    z-index: 8000050;
    width: 2%;
    margin-top: 900px;
    padding-top: 60px;
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	background: -webkit-linear-gradient(top, #fc0071, lightpink);
	background: linear-gradient(top, #fc0071, lightpink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
     opacity: 1;

}
.contents_link {
    text-align: center;
    font-size: 24px;
    font-family: 'Shrikhand', cursive;
    line-height: 85%;
}

#houseicon {
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {
	width: 140px;
	background-size: 100px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 110px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#strippericon {
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
	/*margin-left: 20px;*/
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 105px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 120px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
	width: 120px;
	height: 20px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width:120px;
	height: 40px;
	background-size: 130px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    /*background-color: pink;*/
    width: 120px;
	height: 30px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 65px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    /*background-color: limegreen;*/
    width: 120px;
	height: 100px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 120px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}


