body {
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
 
}


html {

    background-attachment: fixed;
	background-image: url(rosebg.jpeg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
 
}




/** {*/
/*  margin:0; padding:0;*/
/*}*/



/*.cell {*/
/*	display: table-cell;*/
/*	vertical-align: middle;*/
/*	text-align: center;*/
/*}*/

/*.cell canvas {*/
/*	vertical-align: middle;*/
/*}*/



/*#main { */
/*    margin-top: 220;*/
/*    margin-left: 300px;*/
/*    margin:0 auto;*/
/*  width:600px;*/
 
/*}*/




#maincanvas {
    position: absolute; 
    margin:0 auto;
    margin-top: 100px;
    margin-left: 600px;
    cursor: url(soap.png) 53 53, not-allowed;
   border: 19px dotted #c905c6;
  border-image-source: url(pinksparkle.gif);
  border-image-slice: 19;
  border-image-width: 19px;
  border-image-inset: 19px;
  width: 538px;
  height: 438px;
}

#maincanvas:hover {
     width: 560px;
     height: 460px;
    z-index: 99900;
     -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}


#secondcanvas {
    /*z-index: 200;*/
     position: absolute;
     margin:0 auto;
     margin-top: 200px;
     margin-left: 100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(purpleframe.png);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
     width: 438px;
     height: 338px;
}

#secondcanvas:hover {
    margin-left: 150px;
    width: 455px;
     height: 355px;
    z-index: 99900;
     -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
    
}

#thirdcanvas {
    /*z-index: 200;*/
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 600px;
     margin-left: 200px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(sparkleframe.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
}

#thirdcanvas:hover {
    margin-top: 500px;
    width: 560px;
     height: 560px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#fourthcanvas {
    /*z-index: 200;*/
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 390px;
     margin-left: 1100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(goldsparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     border-image-inset: 19px;
}

#fourthcanvas:hover {
    margin-left: 950px;
     width: 500px;
     height: 330px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#fifthcanvas {
     z-index: -1;
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 20px;
     margin-left: 1100px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(bluesparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;

}

#fifthcanvas:hover {
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}

#sixthcanvas {
     z-index: 5;
     position: absolute;
     cursor: pointer;
     margin:0 auto;
     margin-top: 650px;
     margin-left: 750px;
     cursor: url(soap.png) 53 53, not-allowed;
     border: 19px dotted #c905c6;
     border-image-source: url(greensparkle.gif);
     border-image-slice: 19;
     border-image-width: 19px;
     width: 270px;
     height: 400px;
     

}

#sixthcanvas:hover {
    margin-top: 500px;
    width: 370px;
    height: 500px;
    z-index: 99900;
    -webkit-filter: drop-shadow(0px 0px 8px #ff00bf);
}




#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
  	
  	
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {

    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
 /* 	background: -webkit-linear-gradient(top, #fc0071, hotpink);*/
	/*background: linear-gradient(top, #fc0071, hotpink);*/
    
}

.info_content {
    /*border: 1px solid black;*/
    text-align: left center;
    padding-top: 1px;
    padding-left: 100px;
    margin-top: 160px;
    right: 20px;
	bottom:30px;
    overflow: hidden;
    height: 100px;
    display: none;
    line-height: 98%;
    font-family: sans-serif;
    font-size: 95%;
    color: #fffa00;
    width:200px;
    height: 100px;
    text-shadow:  0px 3px 3px, black;
   /*opacity:0.5;*/
  -webkit-filter: drop-shadow(0px 2px 2px black);
    transform: scaleY(3.3) scaleX(1.1) rotate(-4deg);
    -ms-transform: scaleY(3.3) scaleX(1.1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(3.3) scaleX(1.1)  rotate(-4deg); /* Chrome, Safari, Opera */
    letter-spacing: 1.5px;        
}

#info:hover .info_content {
	display:block;
}


