body {
	margin: -1px;
	overflow: hidden;
}

body, html {
	height: 100%;
	position: relative;
}

form {
	z-index: 7;
}

.buypopup {
	z-index: 10000;
	position: fixed;
	width: 50%;
	height: 50%;
	/*background-color: #ff00b6;*/
	background-color: rgba(500, 0, 0, 0.5);
	margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    position: fixed;
    display: none;
    -webkit-filter: drop-shadow(0px 0px 8px black);
 /*   -webkit-animation: popupOverAnim 100ms cubic-bezier(.42, 0, .58, 1);*/
	/*-webkit-animation: bounce 1.5s;	*/
}

/*@-webkit-keyframes bounce {*/
/*     0% {-webkit-transform:translate3d(0, -400px, 0); -webkit-animation-timing-function: ease-in; }*/
/*    40% {-webkit-transform:translate3d(0,    0px, 0); -webkit-animation-timing-function: ease-out; }*/
/*    55% {-webkit-transform:translate3d(0, -100px, 0); -webkit-animation-timing-function: ease-in; }*/
/*    70% {-webkit-transform:translate3d(0,    0px, 0); -webkit-animation-timing-function: ease-out; }*/
/*    85% {-webkit-transform:translate3d(0,  -40px, 0); -webkit-animation-timing-function: ease-in; }*/
/*   100% {-webkit-transform:translate3d(0,    0px, 0); }*/
/*}*/

/*@-webkit-keyframes popupOverAnim{*/
/*    0%{opacity:0;-webkit-transform:scale(1)}*/
/*    10%{opacity:1;-webkit-transform:scale(0.6)}*/
/*   30%{opacity:1;-webkit-transform:scale(1.3)}*/
/*    100%{opacity:1;-webkit-transform:scale(1)}*/
/*}*/

#close_popup{
	background-image: url(silver.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	font-family: sans-serif;
	font-size: 40px;
	cursor: pointer;
	-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
	-webkit-filter: drop-shadow(0px 0px 2px black);
}

#close_popup:hover {

	background-size: 95%;
	
}

#soldout {
	position: fixed;
	/*border: 1px black solid;*/
	background-position: center;
	margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	background-image: url(SOLDOUT.gif);
	width: 30%;
	height: 55%;
	background-size: 70% 70%;
	background-repeat: no-repeat;
	-webkit-filter: drop-shadow(0px 0px 8px black);
}

/*#girlex {*/
/*	display: inline;*/
/*	position: absolute;*/
/*	border: 1px solid black;*/
/*	background-image: url(girlex.png);*/
/*	width: 40%;*/
/*	height: 75%;*/
/*	background-size: 100% 100%;*/
/*	background-repeat: no-repeat;*/
/*	-webkit-filter: drop-shadow(0px 0px 8px black);*/
/*}*/

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
  	
  	
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {

    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
 /* 	background: -webkit-linear-gradient(top, #fc0071, hotpink);*/
	/*background: linear-gradient(top, #fc0071, hotpink);*/
    
}

.info_content {
    /*border: 1px solid black;*/
    text-align: left center;
    padding-top: 1px;
    padding-left: 92px;
    margin-top: 160px;
    right: 20px;
	bottom:30px;
    overflow: hidden;
    height: 100px;
    display: none;
    line-height: 98%;
    font-family: sans-serif;
    font-size: 95%;
    color: #fffa00;
    width:200px;
    height: 100px;
    text-shadow:  0px 3px 3px, black;
   /*opacity:0.5;*/
  -webkit-filter: drop-shadow(0px 2px 2px black);
    transform: scaleY(3.3) scaleX(1) rotate(-4deg);
    -ms-transform: scaleY(3.3) scaleX(1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(3.3) scaleX(1)  rotate(-4deg); /* Chrome, Safari, Opera */
    letter-spacing: 1.5px;        
}

#info:hover .info_content {
	display:block;
}
.console {
	/*background-color: green;*/
	position: absolute;
	margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	/*top: 10%;*/
	width: 60%;
	height: 80%;
	/*left: 20%;*/
	z-index: 999;
	cursor: move;
}

.console-img {
	background-image: url(consolepurple2.png);
	background-size: 110% 101%;
	background-position: center;
	background-repeat: no-repeat;
	/*display: inline-block;*/
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*image-rendering: auto;*/
 /* 	image-rendering: crisp-edges;*/
 /* 	image-rendering: pixelated;*/
  	-webkit-filter: drop-shadow(0px 0px 8px black);
}
 
.console-figure-panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	height: 100%;
	/*background-color: red;*/
}

.console-figure {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid black;*/
	background-size: 105% 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: brightness(110%) saturate(1.7) drop-shadow(0px 0px 8px rgb(255, 30, 228));
}

.console-figure-1 {
	background-image: url(figurefour7.png);
}

.console-figure-2 {
	background-image: url(figurefour6.png);
}

.console-figure-3 {
	background-image: url(figurefour5.png);
}

.console-figure-4 {
	background-image: url(figurefour4.png);
}

.console-figure-5 {
	background-image: url(figurefour3.png);
}

.console-figure-6 {
	background-image: url(figurefour2.png);
}

.console-figure-7 {
	background-image: url(figurefour1.png);
}



.console-figuretwo {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid blue;*/
	background-size: 77% 90%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: saturate(2) drop-shadow(0px 0px 8px rgb(2, 255, 19));
}

.console-figure-9 {
	background-image: url(lady7.png);
}

.console-figure-10 {
	background-image: url(lady6.png);
}
.console-figure-11 {
	background-image: url(lady5.png);
}
.console-figure-12 {
	background-image: url(lady4.png);
}
.console-figure-13 {
	background-image: url(lady3.png);
}
.console-figure-14 {
	background-image: url(lady2.png);
}
.console-figure-15 {
	background-image: url(lady.png);
}

.console-figurethree {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid blue;*/
	background-size: 61% 92%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: saturate(2) drop-shadow(0px 0px 8px rgb(56, 142, 255));
}

.console-figure-16 {
	background-image: url(handy8.png);
}
.console-figure-17 {
	background-image: url(handy7.png);
}
.console-figure-18 {
	background-image: url(handy6.png);
}
.console-figure-19 {
	background-image: url(handy5.png);
}
.console-figure-20 {
	background-image: url(handy4.png);
}
.console-figure-21 {
	background-image: url(handy3.png);
}
.console-figure-22 {
	background-image: url(handy2.png);
}
.console-figure-23 {
	display: inline;
	background-image: url(handy.png);
}


.console-controls {
	position: absolute;
	/*background-color: pink;*/
	right: 15%;
	bottom: 15%;
	width: 30%;
	height: 80%;
}

.console-row {
	display: flex;
	justify-content: space-around;
	/*border: 1px yellow solid;*/
	/*background-color: black;*/

}

.youare {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 100%;
	height: 40%; 
	left: 10%;
	bottom: 30%;
	background-image: url(youare.gif);
	background-size: 100% 60%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
	
}

.console-playforward {
	cursor: pointer;
	left: 40%;
	bottom: 10%;
	width: 200%;
	height: 10%;
	background-image: url(playforwardshadow.png);
	/*border: 1px solid black;*/
	background-size: 40% 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
	
}

.console-playforward:hover {
	background-size: 35% 92%;
	/*background-image: url(playforward.png);*/
}

.console-playback {
	cursor: pointer;
	left: 10%;
	bottom: 10%;
	width: 200%;
	height: 10%;
	background-image: url(playbackshadow.png);
	/*border: 1px solid black;*/
	background-size: 40% 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}
.console-playback:hover {
	background-size: 35% 92%;
	/*background-image: url(playback.png);*/
}

.console-plus {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 30%;
	height: 20%;
	left: 45%;
	bottom: 20%;
	background-image: url(plus.png);
	background-size: 100% 78%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.console-plus:hover {
	background-size: 93% 70%;
	/*background-image: url(plusshadow.png);*/
}

.console-minus {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 30%;
	height: 20%;
	left: 15%;
	bottom: 20%;
	background-image: url(minus.png);
	background-size: 100% 78%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;

}

.console-minus:hover {
	background-size: 93% 70%;
	/*background-image: url(minusshadow.png);*/
}

.console-forward {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 40%;
	height: 20%;
	left: 50%;
	bottom: 32%;
	background-image: url(forwardshadow.png);
	background-size: 100% 80%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.console-forward:hover {
	background-size: 95% 75%;
	/*background-image: url(forward.png);*/
}

.console-back {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 40%;
	height: 20%;
	left: 10%;
	bottom: 32%;
	background-image: url(backshadow.png);
	background-size:  100% 80%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.console-back:hover {
	background-size: 95% 75%;
	/*background-image: url(backshadow.png);*/

}

.buybutton {
	/*border: 1px black solid;*/
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 60%;
	height: 10%;
	left: 10%;
	bottom: 30%;
	background-image: url(buynow.png);
	background-size: 100% 130%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: drop-shadow(0px 2px 2px black);
	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
	
}

.buybutton:hover {
	background-size: 90% 120%;
}


.bg {
	height: 100%;
	z-index: 1;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.fire {
	
	background-image: url(fire.jpg);
	background-size: 150rem;
}

.morning {
	background-image: url(morning.jpg);
	background-size: 120rem;
	
}

.swoosh {
	background-image: url(swoosh.jpg);
	background-size: 120rem;
}

.birds {
	background-image: url(birds.jpg);
	background-size: 120rem;
}

.beach {
	background-image: url(beach.jpg);
	background-size: 120rem;
	background-position: 40%;
}

.edge {
	background-image: url(edge.jpg);
	background-size: 120rem;
}

.cliff {
	background-image: url(cliff.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.fish {
	background-image: url(fish.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.butterfly {
	background-image: url(butterfly.jpg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.field {
	background-image: url(field.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}



.audio {
	/*display: none;*/
	z-index: 4;
	position: absolute;
	margin-left: 10%;
	margin-top: 43%;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

