body {
	margin: -1px;
	overflow: hidden;
}

body, html {
	height: 100%;
	position: relative;
}

form {
	z-index: 7;
}

input {
	color: purple;
	background-color: hotpink;
}

a {
	color: #f900b7;
    text-decoration: none;
}

a.in_text {

	color: #f900b7;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {

	color: purple;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    padding-top: 10px;
    padding-left: 100px;
    color: #001df9;
    display: none;
    font-family: sans-serif;
    font-style: s;
    font-size: 24px;
    width:300px;
    -webkit-filter: drop-shadow(0px 0px 2px white);


}

#info:hover .info_content {
	display:block;
	

}

.playnow {
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("rightnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*border: 1px solid pink;*/
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
     z-index: 9070000;
}

.playnow:hover {
	z-index: 9000000;
    width: 160px;
	background-size: 160px;
	height: 55px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

.playback {
    display: none;
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("leftnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    z-index: 9800000;
}

.playback:hover {
    z-index: 9800000;
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#contents {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 100%;
    z-index: 800050;
    /*width: 2%;*/
    margin-top: 900px;
    padding-top: 60px;
   
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {

	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	background: -webkit-linear-gradient(top, #fc0071, lightpink);
	background: linear-gradient(top, #fc0071, lightpink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		-webkit-filter: drop-shadow(0px 0px 8px black);
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    display: none;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	display: table-cell;
     opacity: 1;

}
.contents_link {
	
	margin-left: 30px;
    text-align: center;
    font-size: 24px;
   font-family: 'Shrikhand', cursive;
	font-style: italic;
}

#houseicon {
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {
	width:140px;
	background-size: 100px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 110px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#strippericon {
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 100px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 107px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
	width: 120px;
	height: 20px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width: 120px;
	height: 40px;
	background-size: 130px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    /*background-color: pink;*/
    width: 120px;
	height: 30px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 65px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    /*background-color: limegreen;*/
    width: 120px;
	height: 100px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 120px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.console {
	/*background-color: green;*/
	position: absolute;
	top: 10%;
	width: 60%;
	height: 80%;
	left: 20%;
	z-index: 999;
	cursor: move;
}

.console-img {
	background-image: url(consolepurple2.png);
	background-size: 110% 101%;
	background-position: center;
	background-repeat: no-repeat;
	/*display: inline-block;*/
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*image-rendering: auto;*/
 /* 	image-rendering: crisp-edges;*/
 /* 	image-rendering: pixelated;*/
  	-webkit-filter: drop-shadow(0px 0px 8px black);
}
 
.console-figure-panel {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
	bottom: 0;
	height: 100%;
	/*background-color: red;*/
}

.console-figure {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid black;*/
	background-size: 105%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: brightness(110%) saturate(1.7) drop-shadow(0px 0px 8px rgb(255, 30, 228));
}

.console-figure-1 {
	background-image: url(figurefour7.png);
}

.console-figure-2 {
	background-image: url(figurefour6.png);
}

.console-figure-3 {
	background-image: url(figurefour5.png);
}

.console-figure-4 {
	background-image: url(figurefour4.png);
}

.console-figure-5 {
	background-image: url(figurefour3.png);
}

.console-figure-6 {
	background-image: url(figurefour2.png);
}

.console-figure-7 {
	background-image: url(figurefour1.png);
}



.console-figuretwo {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 25%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid blue;*/
	background-size: 77%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: saturate(2) drop-shadow(0px 0px 8px rgb(2, 255, 19));
}

.console-figure-9 {
	background-image: url(lady7.png);
}

.console-figure-10 {
	background-image: url(lady6.png);
}
.console-figure-11 {
	background-image: url(lady5.png);
}
.console-figure-12 {
	background-image: url(lady4.png);
}
.console-figure-13 {
	background-image: url(lady3.png);
}
.console-figure-14 {
	background-image: url(lady2.png);
}
.console-figure-15 {
	background-image: url(lady.png);
}

.console-figurethree {
	cursor: move;
	display: none;
	position: absolute;
	top: 10%;
	left: 20%;
	right: 10%;
	bottom: 10%;
	/*border: 1px solid blue;*/
	background-size: 61% 92%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: saturate(2) drop-shadow(0px 0px 8px rgb(56, 142, 255));
}

.console-figure-16 {
	background-image: url(handy8.png);
}
.console-figure-17 {
	background-image: url(handy7.png);
}
.console-figure-18 {
	background-image: url(handy6.png);
}
.console-figure-19 {
	background-image: url(handy5.png);
}
.console-figure-20 {
	background-image: url(handy4.png);
}
.console-figure-21 {
	background-image: url(handy3.png);
}
.console-figure-22 {
	background-image: url(handy2.png);
}
.console-figure-23 {
	display: inline;
	background-image: url(handy.png);
}


.console-controls {
	position: absolute;
	/*background-color: pink;*/
	right: 15%;
	bottom: 5%;
	width: 30%;
	height: 80%;
}

.console-row {
	display: flex;
	justify-content: space-around;
	/*border: 1px yellow solid;*/
	/*background-color: black;*/

}

.console-playforward {
	cursor: pointer;
	left: 40%;
	bottom: 10%;
	width: 200%;
	height: 10%;
	background-image: url(playforwardshadow.png);
	/*border: 1px solid black;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
}

.console-playforward:hover {
	transform: scale(.9,.9);
	background-image: url(playforward.png);
}

.console-playback {
	cursor: pointer;
	left: 10%;
	bottom: 10%;
	width: 200%;
	height: 10%;
	background-image: url(playbackshadow.png);
	/*border: 1px solid black;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.console-playback:hover {
	transform: scale(.9,.9);
	background-image: url(playback.png);
}

.console-plus {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 30%;
	height: 20%;
	left: 45%;
	bottom: 20%;
	background-image: url(plus.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.console-plus:hover {
	background-image: url(plusshadow.png);
}

.console-minus {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 30%;
	height: 20%;
	left: 15%;
	bottom: 20%;
	background-image: url(minus.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

}

.console-minus:hover {
	background-image: url(minusshadow.png);
}

.console-forward {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 40%;
	height: 20%;
	left: 50%;
	bottom: 32%;
	background-image: url(forwardshadow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.console-forward:hover {
	transform: scale(.9,.9);
	background-image: url(forward.png);
}

.console-back {
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 40%;
	height: 20%;
	left: 10%;
	bottom: 32%;
	background-image: url(backshadow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.console-back:hover {
	transform: scale(.9,.9);
	background-image: url(back.png);

}

.buybutton {
	border: 1px black solid;
	cursor: pointer;
	/*border: black solid 1px;*/
	width: 60%;
	height: 10%;
	left: 10%;
	bottom: 50%;
	background-image: url(buynow.png);
	background-size: 100% 130%;
	background-repeat: no-repeat;
	background-position: center;
	
}

.buybutton:hover {
	background-size: 90% 120%;
}


.bg {
	height: 100%;
	z-index: 1;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.fire {
	
	background-image: url(fire.jpg);
	background-size: 150rem;
}

.morning {
	background-image: url(morning.jpg);
	background-size: 120rem;
	
}

.swoosh {
	background-image: url(swoosh.jpg);
	background-size: 120rem;
}

.birds {
	background-image: url(birds.jpg);
	background-size: 120rem;
}

.beach {
	background-image: url(beach.jpg);
	background-size: 120rem;
	background-position: 40%;
}

.edge {
	background-image: url(edge.jpg);
	background-size: 120rem;
}

.cliff {
	background-image: url(cliff.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.fish {
	background-image: url(fish.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.butterfly {
	background-image: url(butterfly.jpg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}

.field {
	background-image: url(field.jpeg);
	filter:saturate(3);
	-webkit-filter: saturate(3);
}



.audio {
	/*display: none;*/
	z-index: 4;
	position: absolute;
	margin-left: 10%;
	margin-top: 43%;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

