body {
	/*cursor: url(cursor.png) 53 53, pointer;*/
	cursor: auto;
	margin: -1px;
	margin-bottom: -2px;
	margin-top: -2px;
	overflow: visible;
	
}

html {
	/*width: 100%;
    height: 100%;*/
    background-attachment: fixed;
	background-image: url(blue.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*cursor: url(cursor.png) 53 53, pointer;*/
}

/*video {*/
    /*background-attachment: fixed;*/

	/*background-repeat: no-repeat;*/
	/*-webkit-background-size: cover;*/
 /* 	-moz-background-size: cover;*/
 /* 	-o-background-size: cover;*/
 /* 	background-size: cover;*/
 /* 	position: fixed;*/
 /* 	height: 100%;*/
 /* 	width: 100%;*/
/*background-color: pink;*/
/* position: absolute;*/
/* margin: auto;*/
/* bottom:0;*/
/* top:0;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
  	
    
/*}*/
.fullscreen-bg {
    /*cursor: auto;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    /*cursor: auto;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -100;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}



/*.fullscreen-bg {*/
/*    cursor: auto;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    overflow: hidden;*/
/*    border: 1px solid black;*/
/*    z-index: -999999999999;*/
/*}*/

/*.fullscreen-bg__video {*/
    /*cursor: auto;*/
/*    position: absolute;*/
    
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -999999999999999999999999999999;*/
/*}*/


/*@media (min-aspect-ratio: 16/9) {*/
/*  .fullscreen-bg__video {*/
/*    width: 100%;*/
/*    height: auto;*/
/*  }*/
/*}*/

/*@media (max-aspect-ratio: 16/9) {*/
/*  .fullscreen-bg__video {*/
/*    width: auto;*/
/*    height: 100%;*/
/*  }*/
/*}*/

/*.container {*/
/*	position: relative;*/
/*	width: 1000px;*/
/*}*/

form {
	z-index: 7;
}

input {


}

a {

    text-decoration: none;
}

a.in_text {


    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {


    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

h3 {
    line-height: .1px;
    padding-bottom: -60%;
     margin-top:20px;
  margin-bottom:10px;
}


#info {
    cursor:auto;
    /*border: 1px solid black;*/
	position: fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 10;
	-webkit-animation-iteration-count:infinite;
  	-webkit-animation-name: rotate;
  	-webkit-animation-duration: 4s;
  	-webkit-animation-timing-function: linear;
  	-webkit-backface-visibility: visible;

}

@-webkit-keyframes rotate {
    from {transform: rotateY( 360deg );}
    to {transform: rotateY( 0deg );}
} 

/* Standard syntax */ 
@keyframes rotate {
     from {transform: rotateY( 0deg );}
    to {transform: rotateY( 360deg );}
}



#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    text-align: left center;
    /*padding-top: 0%;*/
    padding-left: 93px;
    color: #fffa00;
    display: none;
     margin-top: 90px;
    right: 20px;
	bottom:30px;
    overflow: hidden;
    height: 100px;
    display: none;
    line-height: 102%;
    font-family: sans-serif;
    font-size: 93%;
    width:200px;
    height: 110px;
    text-shadow:  0px 3px 3px, black;
   -webkit-filter: drop-shadow(0px 2px 2px black);
    transform: scaleY(2.6) scaleX(1) rotate(-4deg);
    letter-spacing: 1.5px;    
     -ms-transform: scaleY(2.6) scaleX(1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(2.6) scaleX(1)  rotate(-4deg); /* Chrome, Safari, Opera */


}

#info:hover .info_content {
	display:block;
}


