input {
    color: #fffa00;
	/*color: purple;*/
	/*background-color: hotpink;*/
}

a {
    color: #fffa00;
	/*color: #f900b7;*/
    text-decoration: none;
}

a.in_text {
color: #fffa00;
	/*color: #f900b7;*/
    text-decoration: none;
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}

a.in_text:hover {
    color: #fffa00;
	/*color: purple;*/
    text-decoration: none;
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}


.playnow {
    cursor: pointer;
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("rightnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*border: 1px solid pink;*/
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
     z-index: 9070000;
     -webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.playnow:hover {
	z-index: 9000000;
    width: 160px;
	background-size: 160px;
	height: 55px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
  	-webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.playback {
    cursor: pointer;
    display: none;
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("leftnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    z-index: 9800000;
    -webkit-transition: width 0.3s, height 0.3s, background-size 0.3s;
}

.playback:hover {
    z-index: 9800000;
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#navbarcontainer {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    /*width: 900px;*/
    bottom: 20px;
    left: -70px;
    z-index: 800050;
    top: 52px;
    overflow: auto;
   
}

.navbar {
    cursor: pointer;
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.navbartitles {
	/*text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;*/
	/*background: -webkit-linear-gradient(top, #fc0071, lightpink);*/
	/*background: linear-gradient(top, #fc0071, lightpink);*/
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
	-webkit-filter:  drop-shadow(0px 0px 7px black);
    /*background-color: grey;*/
    vertical-align: middle;
    display: none;
    text-align: center;
    opacity:0;
    transition:opacity 0.2s linear;
     -ms-transform: scaleY(2.6) scaleX(1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(2.6) scaleX(1)  rotate(-4deg); /* Chrome, Safari, Opera */

    /*width: 350px;*/
   
}

.navbar:hover .navbartitles {
	display: table-cell;
     opacity: 1;

}
.titlelinks {
    margin-top: -20px;
    width: 300px;
	margin-left: 30px;
    text-align: left;
    font-size: 24px;
    font-family: sans-serif;
	font-style: italic;
	 
}

#houseicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	/*border: 1px black solid;*/
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {
	width:150px;
	background-size: 100px;
	height: 86px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#titicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	width: 120px;
    height: 80px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:125px;
	background-size: 100px;
	height: 90px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#strippericon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {

	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#bouncyicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#bouncyicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	/*border: 1px black solid;*/
    z-index: 20;
	width: 100px;
	height: 110px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 120px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
	width: 120px;
	height: 20px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width: 120px;
	height: 35px;
	background-size: 125px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
    /*background-color: pink;*/
    width: 120px;
	height: 30px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 45px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    cursor: pointer;
    margin: auto;
    text-align: center;
    /*background-color: limegreen;*/
    /*border: 1px black solid;*/
    width: 120px;
	height: 110px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 125px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#sexy {
    cursor: pointer;
    margin: auto;
    text-align: center;
	/*border: 1px black solid;*/
    /*background-color: limegreen;*/
    width: 120px;
	height: 50px;
    background-image: url("sexy.gif");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#sexy:hover {
    width:145px;
	height: 70px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}