body {
	/*height: 100%;
	width: 100%;*/
	cursor: none !important;
	margin: -1px;
	margin-top: -1px;
	
}

html {
	/*width: 100%;
    height: 100%;*/
    background-attachment: fixed;
	background-image: url(bluebackground.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#cursor {
	z-index: 8999900000;
 	cursor: none !important;
	width: 270px;
  	height: 240px;
  	position: absolute;
  	margin-top: -30px;
  	margin-left: -40px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-image: url(flame.gif);
}

a {
	color: #f900b7;
    text-decoration: none;
}

a.in_text {

	color: #f900b7;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {

	color: purple;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    padding-top: 10px;
    padding-left: 100px;
    color: #001df9;
    display: none;
    font-family: sans-serif;
    font-style: s;
    font-size: 24px;
    width:300px;
    -webkit-filter: drop-shadow(0px 0px 2px white);


}

#info:hover .info_content {
	display:block;
	

}

.play {
    /*border: pink 1px solid;*/
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("rightnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
    
}

.play:hover {
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

.playback {
    display: none;
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("leftnav.png");
	background-repeat: no-repeat;
    background-size: 150px;
    z-index: 9800000;
}

.playback:hover {
    cursor: pointer;
    z-index: 9800000;
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#contents {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 90%;
    z-index: 150;
    width: 2%;
   
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
     opacity: 1;

}
.contents_link {
    text-align: center;
    font-size: 24px;
 /*   font-family: "Stanley", Times, serif;*/
	/*font-style: italic;*/
}

#houseicon {
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {

	width: 100px;
	background-size: 90px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 110px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#strippericon {
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
	/*margin-left: 20px;*/
    background-size: 60px;
    background-position: center;
    margin-top: 8px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 105px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    margin-top: 10px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 120px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
    /*border: 1px solid black;*/
	width: 120px;
	height: 15px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	margin-top: 5px;
	background-position: center;
	padding-top: 40px;
    background-size: 110px 50px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width:120px;
	height: 40px;
	background-size: 130px 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    /*border: 1px black solid;*/
    /*background-color: pink;*/
    width: 120px;
	height: 35px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 50px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    /*background-color: limegreen;*/
    width: 120px;
	height: 100px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 120px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}


.container {
	position: relative;
	width: 1000px;
}

.buttonone {
	cursor: none;
	position: absolute;
	margin-left: 50px;
	margin-top: 25px;
    background-image: url(clickforfun.png);	
    /*border: solid black 1px;*/
    background-repeat: no-repeat;
	display: none;
    width: 500px;
    height: 200px;
    background-size: contain;
         -webkit-filter: drop-shadow(5px 5px 5px red);
  	filter: drop-shadow(5px 5px 5px red);
  	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }
}
@keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }

}

.buttonone:hover {
	cursor: pointer;
	background-size: 93%;
		-webkit-filter: drop-shadow(10px 10px 10px red);
  	filter: drop-shadow(10px 10px 10px red);

}

.buttontwo {
	display:none;
	padding-bottom: 10px;
	background-size: contain;
	background-image: url("hotmoms.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	/*border: solid black 1px;*/
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 800px;
     height: 100px;
     -webkit-filter: drop-shadow(5px 5px 5px red);
  	filter: drop-shadow(5px 5px 5px red);
  	
	
	
	/*border: 1px black solid;*/
	/*cursor: none;*/
	/*display: none;*/
	/*background-position: center;*/
 /*    margin: auto;*/
 /*    top: 0;*/
 /*    right: 0;*/
 /*    bottom: 0;*/
 /*    left: 0;*/
	/*position: absolute;*/
	/*margin-left: 100px;
	margin-top: 60px;*/
 /*   background-image: url(hotmoms.png);	*/
 /*   background-repeat: no-repeat;*/
	/*display: none;*/
	/*max-width: 100%;*/
 /*   width: 700px;*/
 /*   height: 700px;*/
 /*   background-size: contain;*/
 /*        -webkit-filter: drop-shadow(5px 5px 5px red);*/
 /* 	filter: drop-shadow(5px 5px 5px red);*/

}

.buttontwo:hover {
	cursor: pointer;
	background-image: url(lightmoms.png);
	 -webkit-animation: none;
    animation: none; 
	z-index: 5;
	background-size: 96%;
	-webkit-filter: drop-shadow(8px 8px 8px red);
  	filter: drop-shadow(8px 8px 8px red);

}

.connect {
	background-position: center;
	/*border: 1px black solid;*/
	cursor: none;
	display: none;
     margin: auto;
     top: 700px;
     right: 700px;
     bottom: 0;
     left: 0;
	position: absolute;
	background-image: url(connectto.png);	
    background-repeat: no-repeat;
	 max-width: 100%;
    width: 170px;
    height: 170px;
    background-size: 105%;
         -webkit-filter: drop-shadow(5px 5px 5px red);
  	filter: drop-shadow(5px 5px 5px red);

}

.connect:hover {
	z-index: 5;
	cursor: pointer;
	width: 600px;
	height: 600px;
	background-size: 100%;


}

.titleft {
	/*border: black 1px solid;*/
	cursor: none;
	display: none;
     margin: auto;
     top: 1300px;
     right: 0px;
     bottom: 0;
     left: 50;
	position: absolute;
    background-image: url(titleft.png);	
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px hotpink);
  	filter: drop-shadow(5px 5px 5px hotpink);
   -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.titleft:hover {
	cursor: pointer;
	-webkit-filter: drop-shadow(8px 8px 8px hotpink);
  	filter: drop-shadow(8px 8px 8px hotpink);
	 -webkit-animation: none;
    animation: none; 
	background-size: 98%;
	z-index: 5;

}	

.titright {
	/*border: black 1px solid;*/
	cursor: none;
	display: none;
     margin: auto;
     top: 600px;
     right: 100px;
     bottom: 0;
     left: 1000px;
	position: absolute;
    background-image: url(titright.png);	
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px hotpink);
  	filter: drop-shadow(5px 5px 5px hotpink);
  	-webkit-animation: rotation 2s infinite linear;
}

.titright:hover {
	z-index: 5;
	background-size: 98%;
	-webkit-filter: drop-shadow(8px 8px 8px hotpink);
  	filter: drop-shadow(8px 8px 8px hotpink);
	 -webkit-animation: none;
    animation: none; 
    cursor: pointer;
}

.secretary {
	cursor: none;
	display: none;
    margin: auto;
    top: 600px;
    right: 50px;
    bottom: 0;
    left: 400px;
	position: absolute;
    background-image: url(secretary.png);	
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px yellow);
  	filter: drop-shadow(5px 5px 5px yellow);
	
}

.secretary:hover {
	cursor: pointer;
	z-index: 5;
	background-size: 98%;
	-webkit-filter: drop-shadow(8px 8px 8px yellow);
  	filter: drop-shadow(8px 8px 8px yellow);
}


.student {
	cursor: none;
	display: none;
    margin: auto;
    top: 1500px;
    right: 20px;
    bottom: 0;
    left: 800px;
	position: absolute;
    background-image: url(teens.png);	
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px lime);
  	filter: drop-shadow(5px 5px 5px lime);
	
}

.student:hover {
	cursor: pointer;
	z-index: 5;
	background-size: 98%;
	-webkit-filter: drop-shadow(8px 8px 8px lime);
  	filter: drop-shadow(8px 8px 8px lime);
	
}

.pussy {
	cursor: none;
	display: none;
    margin: auto;
    top: 1500px;
    right: 400px;
    bottom: 0;
    left: 1px;
	position: absolute;
    background-image: url(seepussy.png);	
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px hotpink);
  	filter: drop-shadow(5px 5px 5px hotpink);
  	-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
	
}

.pussy:hover {
	z-index: 5;
	background-size: 98%;
	-webkit-filter: drop-shadow(8px 8px 8px hotpink);
  	filter: drop-shadow(8px 8px 8px hotpink);
	cursor: pointer;
}

.bible {
	cursor: none;
	display: none;
    margin: auto;
    top: 1800px;
    right: 20px;
    bottom: 0;
    left: 900px;
	position: absolute;
    background-image: url(image.gif);	
    background-repeat: no-repeat;
    width: 300px;
    height: 450px;
    background-size: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px hotpink);
  	filter: drop-shadow(5px 5px 5px hotpink);
  	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}
	
}

.bible:hover {
	 -webkit-animation: none;
    animation: none; 
	cursor: pointer;
	z-index: 5;
	background-size: 98%;
	-webkit-filter: drop-shadow(8px 8px 8px hotpink);
  	filter: drop-shadow(8px 8px 8px hotpink);
	
}

	div.a {
	background-image: url(free.png);	
    background-repeat: no-repeat;
	display: none;
	background-size: 105%;
	width: 300px;
	height:400px;
	position:fixed;
	-webkit-filter: drop-shadow(5px 5px 5px yellow);
  	filter: drop-shadow(5px 5px 5px yellow);
	    
	}

	div.b {
	background-image: url(clickhere.png);	
    background-repeat: no-repeat;
	display: none;
	width: 300px;
	height: 300px;
	background-size: 110%;
	position:fixed;
	-webkit-filter: drop-shadow(5px 5px 5px red);
  	filter: drop-shadow(5px 5px 5px red);
	    
	}

	div.c {
	background-image: url(girls.png);	
    background-repeat: no-repeat;
	display: none;
	width: 350px;
	height: 300px;
	background-size: 110%;
	position:fixed;
	-webkit-filter: drop-shadow(5px 5px 5px hotpink);
  	filter: drop-shadow(5px 5px 5px hotpink);
	
	    
	}
	
	div.d {
	background-image: url(goldfree.png);	
    background-repeat: no-repeat;
	display: none;
	width: 350px;
	height: 300px;
	background-size: 100%;
	position:fixed;
	-webkit-filter: drop-shadow(5px 5px 5px yellow);
  	filter: drop-shadow(5px 5px 5px yellow);
	
	    
	}
	
	div.e {
	background-image: url(busty.png);	
    background-repeat: no-repeat;
	display: none;
	width: 420px;
	height: 300px;
	background-size: 90%;
	position:fixed;
	-webkit-filter: drop-shadow(5px 5px 5px yellow);
  	filter: drop-shadow(5px 5px 5px yellow);
	
	    
	}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}



}




/*.console-tit {
	position: absolute;
	
	right: 100%;
	bottom: -20%;
	width: 30%;
	height: 80%;
}

.console-row {
	display: flex;
	justify-content: space-between;
	border: 1px yellow solid;
	background-color: pink;
}*/

/*.console-back{
	left: 40%;
	bottom: 10%;
	width: 20%;
	height: 15%;
	background-image: url(titleft.png);
	border: 1px solid black;
	background-size: 350%;
	background-repeat: no-repeat;
	background-position: 34% 42%;

}

.console-forward{
	left: 40%;
	bottom: 10%;
	width: 20%;
	height: 15%;
	background-image: url(titright.png);
	border: 1px solid black;
	background-size: 350%;
	background-repeat: no-repeat;
	background-position: 70% 40%;

}*/

/*.bg {*/
	/*background-attachment: fixed;*/
	/*border: 1px solid black;
	background-repeat: no-repeat;
	width: 100%;
    height: 100%;
	z-index: -1;
	position: absolute;
	background-size: cover;
	background-image: url(bluebackground.png);
	background-position: center center;
	transform: translate3d(0,0,0); 
}*/

/*.fool {
	display: none;
	
	background-image: url(girl3.jpg);
	background-size: 30rem;
}

.cowgirl {
	display: none;
	
	background-image: url(girl1.jpg);
	background-size: 30rem;
}

.dress {
	display: none;
	
	background-image: url(girl2.jpg);
	background-size: 30rem;
}
*/



.trigger {
	display: none;
    width: 200px;
    height: 60px;
    color: #FFF;
    background-color: green;
}

.soundconsole {
	/*display: none;
	color:pink;
	border: black solid 1px;
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100px;
     height: 100px;*/
}

.console {
	cursor: none;
	background-image: url("blueconsole.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	/*border: solid black 1px;*/
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 700px;
     height: 700px;
     -webkit-filter: drop-shadow(5px 5px 5px blue);
  	filter: drop-shadow(5px 5px 5px blue);
}

.console:hover {
	/*cursor: pointer;*/
	background-size: 75%;
	/*-webkit-filter: drop-shadow(8px 8px 8px blue);*/
 /* 	filter: drop-shadow(8px 8px 8px blue);*/
}

.border {
	display: none;
	/*border: 1px solid black;*/
	margin: auto;
     top: 60%;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 400px;
	z-index: 6;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-image: url("flameborder.gif");
}

.mainlogo{

	background-image: url("boyswillbetwo.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	/*border: solid black 1px;*/
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 700px;
     height: 400px;
     -webkit-filter: drop-shadow(5px 5px 5px black);
  	filter: drop-shadow(5px 5px 5px black);
-webkit-animation: pulse linear 1s infinite;
	animation: pulse linear 1s infinite;
}
@-webkit-keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }
}
@keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }
}

 

 .mainlogo:hover {
 	cursor: pointer;
 	-webkit-filter: drop-shadow(8px 8px 8px black);
  	filter: drop-shadow(8px 8px 8px black);

 	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }
}
@keyframes pulse {
	0% { width:300px; } 
	50% { width:440px; } 
	100% { width:300px; }





 	