body {
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
}

html {

    background-attachment: fixed;
	background-image: url(shootingstar.gif);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
  
  	
  	
}

.title {
     background-position: center;
    /*border: 1px solid white;*/
     width: 600px;
    height: 100px;
     position: fixed;
     margin: auto;
     margin-top: 20px;
     right: 0;
     left: 0;
    background-image: url(youth.png);
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0px 0px 8px #ffdd00);
   /* -webkit-filter: drop-shadow(0px 10px 6px #d000ff);*/
  	/*filter: drop-shadow(0px 10px 6px #d000ff);*/
}

.title:hover {
    -webkit-filter: drop-shadow(0px 0px 30px #ffdd00);
    
}

a {
	color: #f900b7;
    text-decoration: none;
}

a.in_text {

	color: #f900b7;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {

	color: purple;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}


.table {
    background-position: center;
    /*border: 1px solid white;*/
     width: 500px;
    height: 400px;
     position: fixed;
     margin: auto;
     right: 0;
     left: 0;
    background-image: url(pinktable.png);
    background-repeat: no-repeat;
     margin-top: 380px;
      -webkit-filter: drop-shadow(0px 10px 6px limegreen);
  	filter: drop-shadow(0px 10px 6px limegreen);
     
}


.container {
 /*border: 1px solid white;*/
  margin-top: 300px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 250px;
  height: 200px;
  position: absolute;
  perspective: 1000px;
}

.carousel {
  margin-top: 150px;
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
    
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
   /*-webkit-filter: drop-shadow(-1px 6px 6px limegreen);*/
  	/*filter: drop-shadow(-1px 6px 6px limegreen);*/
   /*-webkit-box-shadow:2px 2px 20px hotpink; */
   /*    -moz-box-shadow:2px 2px 20px hotpink;*/
   /*         box-shadow:2px 2px 20px hotpink;*/
  
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  /*background: #ed1c24;*/
  background-image:url(antiage1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*border-image-source: url(goldframe1.png);*/
  /*   border-image-slice: 10;*/
  /*   border-image-width: 10px;*/
  /*   border-image-inset: 10px;*/
}

.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
  background-image:url(antiage2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
  background-image:url(antiage3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
  background-image:url(antiage4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
  background-image:url(antiage5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.g {
  transform: rotateY(370deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.h {
  transform: rotateY(deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.i {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.j {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.k {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.l {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
  background-image:url(antiage6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.next, .prev {
    margin-top: 150px;
  color: Black;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: hotpink;
  border-radius: 5px;
  border-top: 1px solid hotpink;
  box-shadow: 0 5px 0 #d81c80;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #d81c80;
  z-index: 800000;
}
.next { right: 5em; }
.prev { left: 5em; }


#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    padding-top: 10px;
    padding-left: 100px;
    color: #001df9;
    display: none;
    font-family: sans-serif;
    font-style: s;
    font-size: 24px;
    width:300px;
    -webkit-filter: drop-shadow(0px 0px 2px white);


}

#info:hover .info_content {
	display:block;
	

}

.play {
    
    /*border: pink 1px solid;*/
    position: absolute;
    width: 150px;
	height: 50px;
    background-image: url("playnow.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
    z-index: 80000;
}

.play:hover {
    z-index: 80000;
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#contents {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 90%;
    z-index: 150;
    width: 2%;
   
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
     opacity: 1;

}
.contents_link {
    text-align: center;
    font-size: 24px;
 /*   font-family: "Stanley", Times, serif;*/
	/*font-style: italic;*/
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#strippericon {
	width: 100px;
	height: 150px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 170px;
	background-size: 90px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 150px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 90px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 160px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
	width: 120px;
	height: 60px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width:120px;
	height: 90px;
	background-size: 130px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}
