body {
    /*background-color: pink;*/
	cursor: none;
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
	background-color: white;
	
}

html {

    background-attachment: fixed;
	background-image: url(sky.gif);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
  
  	
  	
}



/*.center {*/
/*   z-index: 10;*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 900px;*/
/*  height: 100px;*/
/*  background-color: #ccc;*/
/*}*/

.console-hands {
    z-index: 10;
	position: absolute;
	 margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width: 1200px;
    height: 150px;
	/*border: 1px black solid;*/

}

/*.console {*/
/*    z-index: 10;*/
/*   	 position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 800px;*/
/*     height: 500px;*/
/*     background-color: pink;*/
/*}     */
.console-row {
    z-index: 10;
    position: fixed;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	display: flex;
	justify-content: space-between;
	/*border: 1px yellow solid;*/
	/*background-color: pink;*/
	width: 1350px;
	height: 150px;
}

.console-back{
    z-index: 10;
    margin: auto;
	left: 0;
	bottom: 0;
	right:0;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handleft.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: blue;*/

}

.console-back:hover {
    background-size: 95%;
    background-image: url(leftglow.png);
    -webkit-filter: drop-shadow(6px 6px 6px hotpink);
  	filter: drop-shadow(6px 6px 6px hotpink);
}

.console-forward{
    z-index: 10;
    margin: auto;
    left:0;
	bottom: 0;
    margin-left: 67%;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handright.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: grey;*/

}

.console-forward:hover {
    background-image: url(rightglow.png);
    background-size: 95%;
 /*   width: 20%;*/
	/*height: 100%;*/
	-webkit-filter: drop-shadow(6px 6px 6px hotpink);
  	filter: drop-shadow(6px 6px 6px hotpink);
}

#videoElement {
    /*z-index: 100;*/
    width: 900px;
    height: 700px;
    position: fixed;
    margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    /*left: 50%;*/
    /*margin-left: -300px;*/
    /*top: 50%;*/
    /*margin-top: -250px;*/
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

.video {
        object-fit: contain;
}

/*#webCam {*/
/*    position: absolute;*/
/*    margin: auto;*/
/*     top: 10px;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*    z-index: -1;*/
     
/*    background-color: #666;*/
/*}*/
.slideshow {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 900px;
     height: 700px;
    -webkit-box-shadow:0  22px hotpink; 
    -moz-box-shadow: 0 0 22px hotpink; 
    box-shadow:0 0 22px hotpink;
    /*border: 1px hotpink solid;*/
   /*  -webkit-background-size: cover;*/
  	/*-moz-background-size: cover;*/
  	/*-o-background-size: cover;*/
}

.slideshow img {
    position: absolute;
    display: none;
}

.slideshow img:first-child {
    display: block;
    /* overrides the previous style */
}

/*.one {*/
    
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 460px;*/
    /*height: 100%;*/
    /*width: 110%;*/
/*    background-size: 110%;*/
    /*border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url(girl1.png);*/
/*    filter:saturate(1.5);*/
    
    
/*}*/

/*.two {*/
/*    display: none;*/
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 500px;*/
    /*height: 115%;*/
    /*width: 115%;*/
/*    background-size: 100%;*/
/*    border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url(girl2.png);*/
/*    filter:saturate(1.5);*/
    
    
/*}*/

/*.three {*/
/*    display: none;*/
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 400px;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*    background-size: 110%;*/
/*    border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url();*/
/*    filter:saturate(1.5);*/
    
    
/*}*/
/*.bg {*/
    
/*}*/