#container {
    margin: 0px auto;
    width: 640px;
    height: 480px;
    border: 10px dashed hotpink;
}

#webCam {
    border-radius: 50%;
    width: 640px;
    height: 480px;
    background-color: #666;
}