body {
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
}

html {

    background-attachment: fixed;
	background-image: url(sky.gif);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
}


a {
    
    text-decoration: none;
    /*text-align: center;*/
}

a.in_text {
	color: #f900b7;
    text-decoration: none;
    /*-webkit-filter: drop-shadow(2px 2px 2px hotpink);*/
}

a.in_text:hover {
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/ 
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    text-align: left center;
    padding-top: 1px;
    padding-top: 10px;
    padding-left: 90px;
    color: #fffa00;
    display: none; 
     margin-top: 115px;
    right: 20px;
	bottom:30px;
	font-family: sans-serif;
    overflow: hidden;
    height: 100px;
    display: none;
    line-height: 99%;
    font-size: 95%;
    width:200px;
    height: 100px;
    text-shadow:  0px 3px 3px, black;
   -webkit-filter: drop-shadow(0px 2px 2px black);
    transform: scaleY(2.6) scaleX(1) rotate(-4deg);
    letter-spacing: 1.5px;    
     -ms-transform: scaleY(2.6) scaleX(1) rotate(-4deg); /* IE 9 */
    -webkit-transform:scaleY(2.6) scaleX(1)  rotate(-4deg); /* Chrome, Safari, Opera */
}

#info:hover .info_content {
	display:block;
}


/*.center {*/
/*   z-index: 10;*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 900px;*/
/*  height: 100px;*/
/*  background-color: #ccc;*/
/*}*/

.console-hands {
    z-index: 100;
	position: absolute;
	 margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width: 1200px;
    height: 150px;
	/*border: 1px black solid;*/

}


.console-row {
    z-index: 100;
    position: fixed;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	display: flex;
	justify-content: space-between;
	/*border: 1px yellow solid;*/
	/*background-color: pink;*/
	width: 100%;
	height: 30%;
}

.console-back{
    z-index: 999999999;
    margin: auto;
	left: 0;
	bottom: 0;
	right:0;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handleft.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: blue;*/
	-webkit-filter: drop-shadow(0px 0px 8px hotpink);
	-webkit-transition: background-size 0.2s;

}

.console-back:hover {
    cursor: pointer;
    z-index: 999999999;
    background-size: 95%;
    background-image: url(handleft.png);
    -webkit-filter: drop-shadow(0px 0px 10px #ff00a5);
   /* -webkit-filter: drop-shadow(6px 6px 6px hotpink);*/
  	/*filter: drop-shadow(6px 6px 6px hotpink);*/
}

.console-forward{
    z-index: 10;
    margin: auto;
    left:0;
	bottom: 0;
    margin-left: 67%;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handright.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: grey;*/
	-webkit-filter: drop-shadow(0px 0px 8px hotpink);
	-webkit-transition: background-size 0.2s;

}

.console-forward:hover {
    cursor: pointer ;
    background-image: url(handright.png);
    background-size: 95%;
     -webkit-filter: drop-shadow(0px 0px 10px #ff00a5);
	/*-webkit-filter: drop-shadow(6px 6px 6px hotpink);*/
 /* 	filter: drop-shadow(6px 6px 6px hotpink);*/
}

#videoElement {
    /*z-index: 100;*/
    width: 65%;
    height: 80%;
    position: fixed;
    margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    /*left: 50%;*/
    /*margin-left: -300px;*/
    /*top: 50%;*/
    /*margin-top: -250px;*/
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

.video {
        object-fit: contain;
}

/*#webCam {*/
/*    position: absolute;*/
/*    margin: auto;*/
/*     top: 10px;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*    z-index: -1;*/
     
/*    background-color: #666;*/
/*}*/
.slideshow {
    position: fixed;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 65%;
     height: 80%;
    -webkit-box-shadow:0  22px #ff00a5; 
    -moz-box-shadow: 0 0 22px #ff00a5; 
    box-shadow:0 0 22px #ff00a5;
    /*border: 1px hotpink solid;*/
   /*  -webkit-background-size: cover;*/
  	/*-moz-background-size: cover;*/
  	/*-o-background-size: cover;*/
}

.slideshow img {
    width: 100%;
     height: 100%;
    position: absolute;
    display: none;
}

.slideshow img:first-child {
    display: block;
    /* overrides the previous style */
}

