body {
	margin: -1px;
	margin-bottom: -1px;
	margin-top: -1px;
	/*overflow: visible;*/
}

html {

    background-attachment: fixed;
	background-image: url(sky.gif);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
}


a {
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	background: -webkit-linear-gradient(top, #fc0071, lightpink);
	background: linear-gradient(top, #fc0071, lightpink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
    text-align: center;
}

a.in_text {
    
	color: #f900b7;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {

	color: purple;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    padding-top: 10px;
    padding-left: 100px;
    color: #001df9;
    display: none;
    font-family: sans-serif;
    font-style: s;
    font-size: 24px;
    width:300px;
    -webkit-filter: drop-shadow(0px 0px 2px white);


}

#info:hover .info_content {
	display:block;
	

}

.play {
    /*border: pink 1px solid;*/
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("playnow.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
    z-index: 9800000;
}

.play:hover {
    z-index: 9800000;
    width: 160px;
	background-size: 160px;
	height: 56px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#contents {
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 100%;
    z-index: 8000050;
    width: 2%;
    margin-top: 900px;
    padding-top: 60px;
   
}

.dropdown {
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {
     text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	background: -webkit-linear-gradient(top, #fc0071, lightpink);
	background: linear-gradient(top, #fc0071, lightpink);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-decoration: none;
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
     opacity: 1;

}
.contents_link {
    text-align: center;
    font-size: 24px;
    font-family: 'Shrikhand', cursive;
    line-height: 85%;
}

#houseicon {
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {
	width:140px;
	background-size: 100px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 110px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#strippericon {
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 100px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 107px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
	width: 120px;
	height: 20px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width:120px;
	height: 90px;
	background-size: 130px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    /*background-color: pink;*/
    width: 120px;
	height: 30px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 65px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    /*background-color: limegreen;*/
    width: 120px;
	height: 100px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 120px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}



/*.center {*/
/*   z-index: 10;*/
/*  position: absolute;*/
/*  margin: auto;*/
/*  top: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  width: 900px;*/
/*  height: 100px;*/
/*  background-color: #ccc;*/
/*}*/

.console-hands {
    z-index: 100;
	position: absolute;
	 margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width: 1200px;
    height: 150px;
	/*border: 1px black solid;*/

}

/*.console {*/
/*    z-index: 10;*/
/*   	 position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 800px;*/
/*     height: 500px;*/
/*     background-color: pink;*/
/*}     */
.console-row {
    z-index: 100;
    position: fixed;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	display: flex;
	justify-content: space-between;
	/*border: 1px yellow solid;*/
	/*background-color: pink;*/
	width: 1350px;
	height: 150px;
}

.console-back{
    z-index: 100;
    margin: auto;
	left: 0;
	bottom: 0;
	right:0;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handleft.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: blue;*/

}

.console-back:hover {
    z-index: 9050;
    background-size: 95%;
    background-image: url(leftglow.png);
    -webkit-filter: drop-shadow(6px 6px 6px hotpink);
  	filter: drop-shadow(6px 6px 6px hotpink);
}

.console-forward{
    z-index: 10;
    margin: auto;
    left:0;
	bottom: 0;
    margin-left: 67%;
	top: 0;
	width: 16%;
	height: 100%;
	background-image: url(handright.png);
	/*border: 1px solid black;*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: contain;
	/*background-color: grey;*/

}

.console-forward:hover {
    background-image: url(rightglow.png);
    background-size: 95%;
 /*   width: 20%;*/
	/*height: 100%;*/
	-webkit-filter: drop-shadow(6px 6px 6px hotpink);
  	filter: drop-shadow(6px 6px 6px hotpink);
}

#videoElement {
    /*z-index: 100;*/
    width: 900px;
    height: 700px;
    position: fixed;
    margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    /*left: 50%;*/
    /*margin-left: -300px;*/
    /*top: 50%;*/
    /*margin-top: -250px;*/
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

.video {
        object-fit: contain;
}

/*#webCam {*/
/*    position: absolute;*/
/*    margin: auto;*/
/*     top: 10px;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*    z-index: -1;*/
     
/*    background-color: #666;*/
/*}*/
.slideshow {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 900px;
     height: 700px;
    -webkit-box-shadow:0  22px hotpink; 
    -moz-box-shadow: 0 0 22px hotpink; 
    box-shadow:0 0 22px hotpink;
    /*border: 1px hotpink solid;*/
   /*  -webkit-background-size: cover;*/
  	/*-moz-background-size: cover;*/
  	/*-o-background-size: cover;*/
}

.slideshow img {
    position: absolute;
    display: none;
}

.slideshow img:first-child {
    display: block;
    /* overrides the previous style */
}

/*.one {*/
    
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 460px;*/
    /*height: 100%;*/
    /*width: 110%;*/
/*    background-size: 110%;*/
    /*border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url(girl1.png);*/
/*    filter:saturate(1.5);*/
    
    
/*}*/

/*.two {*/
/*    display: none;*/
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 500px;*/
    /*height: 115%;*/
    /*width: 115%;*/
/*    background-size: 100%;*/
/*    border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url(girl2.png);*/
/*    filter:saturate(1.5);*/
    
    
/*}*/

/*.three {*/
/*    display: none;*/
/*    background-position: center;*/
/*    position: absolute;*/
/*     margin: auto;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     width: 700px;*/
/*     height: 400px;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*    background-size: 110%;*/
/*    border: 1px black solid;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 5;*/
/*    background-image: url();*/
/*    filter:saturate(1.5);*/
    
    
/*}*/
/*.bg {*/
    
/*}*/

