body {
	margin: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	overflow: scroll ;
}

/*html {*/
/*    background-attachment: fixed;*/
/*	background-image: url(runbounce.gif);*/
	
/*	-webkit-background-size: cover;*/
/*  	-moz-background-size: cover;*/
/*  	-o-background-size: cover;*/
/*  	background-size: 30% ;*/
/*  	background-repeat: repeat;*/
  
/*}*/
.fadein {
    position: fixed;
    -webkit-background-size: cover;*/
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	height: 100%;
  	width: 100%;
  	background-repeat: repeat;
}

.fadein img {
    position: relative;
    -webkit-background-size: cover;*/
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	height: 100%;
  	width: 100%;
  	background-repeat: repeat;
    left:0;
    top:0;
}

.container {
   
	position: fixed;

	height: 1100px;
	margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 20px;
    margin-top: 80vh;
}
.container:hover{
cursor: pointer;

}

.text {
    color: white;
    font-family: sans-serif;
    font-size: 500%;
    text-shadow: 2px 2px black;
}
.text:hover{
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.popup {
    z-index: 200;
    display: none;
    border: 1px black solid;
    background-color: white;
    position: fixed;
    height: 600px;
    width: 500px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 90%;
    overflow: scroll;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 8px 8px 0px -1px rgba(0,0,0,1);
-moz-box-shadow: 8px 8px 0px -1px rgba(0,0,0,1);
box-shadow: 8px 8px 0px -1px rgba(0,0,0,1);
    
}

.popup:hover,   
.popup:active{
    cursor: pointer;
 	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
    
}

a {
	color: #f900b7;
    text-decoration: none;
}

a.in_text {

	color: #f900b7;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

a.in_text:hover {

	color: purple;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px hotpink);
}

#info {
    /*border: 1px solid black;*/
	position:fixed;
	right: 20px;
	bottom:30px;
    width: 100px;
    height: 100px;
    background-image: url("info.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: drop-shadow(0px 0px 2px #f900b7 );
    -webkit-transition: width 2s, height 2s, background-size 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, background-size 2s, transform 2s;
	z-index: 8888888;
	animation-iteration-count:infinite;
  	animation-name: rotate;
  	animation-duration: 4s;
  	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {transform: rotateY( 0deg );}
    to {transform: rotateY( -360deg );}

}

#info:hover {
    animation: none;
    background-size: 100px 100px;
    background-position: left top;
    background-color: hotpink;
	width: 300px;
    height: 300px;
    border-radius: 25px;
    -webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

.info_content {
    padding-top: 10px;
    padding-left: 100px;
    color: #001df9;
    display: none;
    font-family: sans-serif;
    font-style: s;
    font-size: 24px;
    width:300px;
    -webkit-filter: drop-shadow(0px 0px 2px white);


}

#info:hover .info_content {
	display:block;
	

}

.play {
    position: fixed;
    width: 150px;
	height: 50px;
    background-image: url("playnow.png");
	background-repeat: no-repeat;
    background-size: 150px;
    /*border: 1px solid pink;*/
    /*-webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;*/
     z-index: 900050;
     /*margin-left: 100px;*/
}

.play:hover {
    z-index: 9000000;
    /*cursor: pointer;*/
    width: 160px;
	background-size: 160px;
	height: 55px; 
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#contents {
    
    /*border: 1px black solid;*/
    /*background-color: hotpink;*/
    position: fixed;
    bottom: 15px;
    left: -80px;
    display: table;
    height: 100%;
    z-index: 800000;
    /*width: 1%;*/
    
    margin-top: 900px;
    padding-top: 60px;
    
   
}

#contents:hover {
    
}

.dropdown {
    /*width: 100px;*/
    /*height: 20px;*/
    /*background-color: grey;*/
    display: table-row;
    text-align: center;
    -webkit-filter: drop-shadow(0px 2px 2px purple);
}

/*.dropdown > img {*/
/*    display: table-cell;*/

/*}*/

.dropdown-content {
    /*background-color: grey;*/
    display: table-cell;
    vertical-align: middle;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.2s linear;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
     opacity: 1;

}
.contents_link {
    text-align: center;
    font-size: 24px;
 /*   font-family: "Stanley", Times, serif;*/
	font-style: italic;
}

#houseicon {
    width: 100px;
    height: 70px;
    background-image: url("houseicon.png");
	background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#houseicon:hover {
	width:140px;
	background-size: 100px;
	height: 120px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#titicon {
	width: 120px;
    height: 94px;
    background-image: url("boob.png");
	background-repeat: no-repeat;
    background-size: 90px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#titicon:hover {
	width:140px;
	background-size: 120px;
	height: 110px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
	
}

#strippericon {
	width: 100px;
	height: 100px;
    background-image: url("stripper.png");
	background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#strippericon:hover {
	width: 120px;
	height: 110px;
	background-size: 60px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#fileicon {
	width: 60px;
	height: 75px;
    background-image: url("run.gif");
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#fileicon:hover {
	
	width: 70px;
	height: 87px;
	background-size: 70px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#handicon {
    z-index: 20;
	width: 100px;
	height: 100px;
	background-position: center;
    background-image: url("flowerhand.png");
	background-repeat: no-repeat;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#handicon:hover {
	z-index: 500;
	width: 100px;
	height: 107px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#buynowicon {
	width: 120px;
	height: 20px;
    background-image: url("buynow.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 25px;
    background-size: 110px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#buynowicon:hover {
	width:120px;
	height: 40px;
	background-size: 130px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
}

#soapicon {
    /*background-color: pink;*/
    width: 120px;
	height: 30px;
    background-image: url("soapicon.png");
	background-repeat: no-repeat;
	padding-top: 20px;
	background-position: center;
    background-size: 70px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#soapicon:hover {
    width:120px;
	height: 65px;
	background-size: 85px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}

#antiageicon {
    /*background-color: limegreen;*/
    width: 120px;
	height: 100px;
    background-image: url("antiageicon.png");
	background-repeat: no-repeat;
	background-position: center;
    background-size: 85px;
    -webkit-transition: width 0.2s, height 0.2s, background-size 0.2s;
}

#antiageicon:hover {
    width:120px;
	height: 120px;
	background-size: 100px;
	-webkit-filter: drop-shadow(6px 6px 6px #f900b7);
  	filter: drop-shadow(6px 6px 6px #f900b7);
    
}


/*.text {*/
/*    font-size: 14px;*/
/*    background-color: white;*/
/*    box-sizing: border-box;*/
/*    padding: 8px;*/
/*    position: absolute;*/
/*    margin: auto;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    margin-top: 2%;*/
/*    width: 800px;*/
/*    height: 1000px;*/
/*    border: 1px solid black;*/
/*    overflow: scroll;*/
/*}*/